/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #cff6cf;
  --secondary-color: #FFFFFF;
  --accent-color: #2E7D32;
  --background-color: #eae3e3;
  --text-color: #333333;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.bordered-text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
